# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List of commonly used languages in Data Science
+ List of commonly used libraries in Data Science
+ Some of commonly used Tools in Data Science
+ Some examples of aritmetic expressions in python

Some of the popular languages that Data Scientists use are:
1. R
2. SQL
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib
3. Pandas

| Data Science Tools | 
| -------------|
| Pandas |
| Jupyter Notebook|
| github |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60.

time = 200
mins = time % 60
hours = time // 60
print(str(hours) + " hours, " + str(mins) +  " mins. ")

3 hours, 20 mins.

## Author
Krishna Kunal